@import '~@notes/style/constants.scss';
@import '~@notes/style/markdown.scss';

.side-viwer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: $master-width;
}