@import '~@notes/style/constants.scss';

.note-cell {
    height: $note-cell-height;
    border-top: 1px solid lightgray;

    &:hover {
        background-color: lightgray;
    }

    .note-cell-title {
        margin-left: 15px;
        margin-top: 15px;
    }
}
